

.card {
  border: 2px solid #ff9e00;
  background-color: #feffe7;
  color: #ff9e00;
  width: 80%;
  padding: 15px 30px;
  margin: 15px auto;
}

ul {
  padding-left: 25px;
}
li {
  text-align: left;
}

.menu {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.categories {
  margin: 5px 10px;
  list-style: none;
}

.categories button {
  outline: none;
  border: none;
  background: white;
  cursor: pointer;
}

.category-buttons:hover {
  text-decoration: underline;
}
